body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

p{
    font-size: large;
    font-weight: bold;
}

h1{
    font-size: large;
    font-weight: bold;
}

h2{
    font-size: medium;
    font-weight: bold;
}

h3{
    font-size: small;
    font-weight: normal;
}

.container {
    background: white;
    padding: 10px;
    border: black solid 2px;
    max-width: 900px;
    margin: auto;
}

table{
    width: 100%; 
}

.collapse-table{
    border-collapse: collapse;
}

.collapse-table td{
    border: 1px solid black;
}

.collapse-table th{
    height: auto;
    border: 1px solid black;
    background: #D1D1D1;
    text-align: left;
}

#C-table{
    border: none;
}

#C-table tr{
    height: 5vh;
    border: 1px solid black;
}

#C-table tr[name="table-C-15"] td {
    border: 1px solid black; 
    padding: 5px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bold;
    background: white;
}

.box{
    border: 1px solid black;
    background: #e0e0e0;
    margin-bottom: 15px;
    padding: 10px;
}

.box td[name="white-col"]{
    background: white;
    text-align: left;
    padding: 10px;
}
