<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="description" content="">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:image:alt" content="">

  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="icon.png">

  <link rel="manifest" href="site.webmanifest">
  <meta name="theme-color" content="#fafafa">
</head>

<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <table>
      <colgroup>
        <col style="width: 20%;">
        <col style="width: 80%;">
      </colgroup>

      <tr>
        <td>
          <p>Wn-D</p>
        </td>

        <td>
          <h2>Wniosek o wypłatę miesięcznego dofinansowania do wynagrodzeń pracowników niepełnosprawnych</h2>
        </td>
      </tr>
    </table>

    <div class="box" id="f-box">
      <table>
        <colgroup>
          <col style="width: 30%;">
          <col style="width: 70%;">
        </colgroup>

        <tr>
          <td><h3> Podstawa prawna: </h3></td>
          <td><h3>  Art. 26c ust. 1 pkt 2 ustawy z dnia 27 sierpnia 1997 r. o rehabilitacji zawodowej i społecznej oraz zatrudnianiu osób niepełnosprawnych, zwanej dalej „ustawą”.  </h3></td>
        </tr>

        <tr>
          <td><h3> Składający: </h3></td>
          <td><h3>  Pracodawca, o którym mowa w art. 26a ustawy, któremu przysługuje dofinansowanie do wynagrodzenia osób niepełnosprawnych ze środków PFRON.  </h3></td>
        </tr>

        <tr>
          <td><h3> Termin składania: </h3></td>
          <td><h3>  Do 25 dnia miesiąca następującego po miesiącu, którego dotyczy wniosek.  </h3></td>
        </tr>

        <tr>
          <td><h3> Adresat: </h3></td>
          <td><h3>  Zarząd Państwowego Funduszu Rehabilitacji Osób Niepełnosprawnych, Al. Jana Pawła II 13, 00-828 Warszawa.  </h3></td>
        </tr>
      </table>
    </div>

    <div class="box" id="A-box">
      <h1> A. Dane o dokumencie </h1>

      <table class="collapse-table">
        <colgroup>
          <col style="width: 30%;">
          <col style="width: 70%;">
        </colgroup>

        <tr>
          <th><h2> 1. Rodzaj dokumentu </h2></th>

          <td name="white-col">
            <div class="checkboxes">
              <input type="checkbox" name="checkBox-A" id="checked_1-A1"><label for="checked_1-A1">1. Zgłszeniowy</label>
              <input type="checkbox" name="checkBox-A" id="checked_2-A1"><label for="checked_2-A1">2. Dotyczący miesięcznego dofinansowania</label>
              <input type="checkbox" name="checkBox-A" id="checked_3-A1"><label for="checked_3-A1">3. Korygujący</label>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="box" id="B-box">
      <table>
        <tr>
          <td>
            <h1> B. Dane ewidencyjne pracodawcy </h1>
          </td>
          <td name="white-col" id="p-2">
            <h2> 2. Number w rejestrze PFRON <input type="text" maxlength="9"> </h2>
          </td>
        </tr>

      </table>

      <table class="collapse-table">
        <tr>
          <td name="white-col" id="p-3"><h2> 3. NIP <br><input type="text" id="pole-3" maxlength="10"> </h2></td>
          <td colspan="2" name="white-col" id="p-4"><h2> 4. REGON <br><input type="text" id="pole-4"> </h2></td>
          <td colspan="3" name="white-col" id="p-5"><h2> 5. Pełna nazwa <br><input type="text" id="pole-5"> </h2></td>
        </tr>

        <tr>
          <td name="white-col" id="p-6"><h2> 6.Forma prawna(1) <br><input type="text" maxlength="2" id="pole-6"> </h2></td>
          <td name="white-col" id="p-7"><h2> 7. Forma prawna(2) <br><input type="text"  id="pole-7"> </h2></td>
          <td name="white-col" id="p-8"><h2> 8. Forma własności <br><input type="number" max="6" id="pole-8"> </h2></td>
          <td name="white-col" id="p-9"><h2> 9. Wielkość <br><input type="number" max="4" id="pole-9"> </h2></td>
          <td name="white-col" id="p-10"><h2> 10. Indefikator adresu <br><input type="number" maxlength="7" id="pole-10"> </h2></td>
          <td name="white-col" id="p-11"><h2> 11. PKD <br><input type="text" maxlength="5" id="pole-11"> </h2></td>
        </tr>
      </table>
    </div>

    <div class="box" id="C-box">
      <h1> C. Wniosek o wypatę dofinansowania </h1>

      <table id="C-table">
        <tr>
          <td>
            <table class="collapse-table">
              <tr>
                <th colspan="2" name="white-col" id="p-12"><h2> 12. Okres sprawozdawczy </h2></th>
              </tr>
              <tr>
                <td name="white-col" id="p-12-1"><h2> 1. Miesiąc <br><input type="month" id="pole-12-1"> </h2></td>
                <td name="white-col" id="p-12-2"><h2> 2. Rok <br><input type="number" id="pole-12-2"> </h2></td>
              </tr>
            </table>
          </td>

          <td>
            <table class="collapse-table">
              <tr>
                <th><h2> 13. Należna kwota dofinansowania </h2></th>
              </tr>
              <tr>
                <td name="white-col" id="p-13"><h2> <br><input type="number" id="pole-13"> </h2></td>
              </tr>
            </table>
          </td>

          <td name="white-col">
            <table class="collapse-table">
              <tr>
                <th><h2> 14. Liczba załączników INF-D-P do składanego wniosku </h2></th>
              </tr>
              <tr>
                <td name="white-col" id="p-14"><h2> <br><input type="number" id="pole-14"> </h2></td>
              </tr>
            </table>
          </td>
        </tr>

        <tr style="height: 5vh;" name="table-C-15">
          <td colspan="3" name="white-col" id="p-15"><h2> 15. Rachunek bankowy pracodawcy, na który będzie przekazywane dofinansowanie <br><input type="text" maxlength="26" id="pole-15"> </h2></td>
        </tr>
      </table>
    </div>

    <div class="box" id="D-box">
      <p> D. Dodatkowe informacje o pacodawcy </p>

      <table name="collapse-table" id="D-1-table">
        <tr>
          <th colspan="5"><h1> D.1. Adress </h1></th>
        </tr>

        <tr>
          <td colspan="2" name="white-col" id="p-16"><h2> 16. Ulica <br><input type="text" id="pole-16"> </h2></td>
          <td name="white-col" id="p-17"><h2> 17. Nr domu <br><input type="text" id="pole-17"> </h2></td>
          <td name="white-col" id="p-18"><h2> 18. Nr lokalu <br><input type="text" id="pole-18"> </h2></td>
          <td name="white-col" id="p-19"><h2> 19. Miejscowość <br><input type="text" id="pole-19"> </h2></td>
        </tr>

        <tr>
          <td name="white-col" id="p-20"><h2> 20. Kod pocztowy <br><input type="text" id="pole-20"> </h2></td>
          <td name="white-col" id="p-21"><h2> 21. Poczta <br><input type="text" id="pole-21"> </h2></td>
          <td name="white-col" id="p-22"><h2> 22. Telefon <br><input type="text" id="pole-22"> </h2></td>
          <td name="white-col" id="p-23"><h2> 23. Faks <br><input type="text" id="pole-23"> </h2></td>
          <td name="white-col" id="p-24"><h2> 24. E-mail <br><input type="text" id="pole-24"> </h2></td>
        </tr>
      </table>

      <table name="collapse-table" id="D-2-table">
        <tr>
          <th colspan="3" style="width: 60%;"><h1> D.2. Adres do korespondencji / Dane pełnomocnika </h1></th>
          <td colspan="2" name="white-col" id="p-25"><h2> 25. Pełnomocnik <br><input type="text" id="pole-25"> </h2></td>
        </tr>

        <tr>
          <td colspan="2" name="white-col" id="p-26"><h2> 26. Ulica <br><input type="text" id="pole-26"> </h2></td>
          <td name="white-col" id="p-27"><h2> 27. Nr domu <br><input type="text" id="pole-27"> </h2></td>
          <td name="white-col" id="p-28"><h2> 28. Nr lokalu <br><input type="text" id="pole-28"> </h2></td>
          <td name="white-col" id="p-29"><h2> 29. Miejscowość <br><input type="text" id="pole-29"> </h2></td>
        </tr>

        <tr>
          <td style="width: 15%;" name="white-col" id="p-30"><h2> 30. Kod pocztowy <br><input type="text" id="pole-30"> </h2></td>
          <td style="width: 25%;" name="white-col" id="p-31"><h2> 31. Poczta <br><input type="text" id="pole-31"> </h2></td>
          <td style="width: 20%;" name="white-col" id="p-32"><h2> 32. Telefon <br><input type="text" id="pole-32"> </h2></td>
          <td style="width: 20%;" name="white-col" id="p-33"><h2> 33. Faks <br><input type="text" id="pole-33"> </h2></td>
          <td style="width: 20%;" name="white-col" id="p-34"><h2> 34. E-mail <br><input type="text" id="pole-34"> </h2></td>
        </tr>
      </table>

      <table class="collapse-table">
        <colgroup>
          <col style="width: 30%">
          <col style="width: 70%">
        </colgroup>

        <tr>
          <th><h2> D.3. Status pracodawcy </h2></th>

          <td name="white-col">
            <div class="checkboxes">
              <input type="checkbox" name="checkBox-D" id="checked_1-D35"><label for="checked_1-D35"> 1. Zakład pracy chronionej </label>
              <input type="checkbox" name="checkBox-D" id="checked_2-D35"><label for="checked_2-D35"> 2. Zakład aktywności zawodowej </label>
              <input type="checkbox" name="checkBox-D" id="checked_3-D35"><label for="checked_3-D35"> 3. Inny pracodawca </label>
            </div>
          </td>
        </tr>
      </table>

      <table name="collapse-table">
        <tr>
          <th style="width: 80%;"><h2> D.4. Liczba osób niepełnosprawnych nowo zatrudnionych w okresie sprawozdawczym </h2></th>
          <td name="white-col" id="p-36"><h4> 36. <br><input type="text" id="pole-36"> </h4></td>
        </tr>
      </table>

      <table name="collapse-table" id="D-5-table">
        <tr>
          <th colspan="6" id="p-D2"><h2> D.5. Informacja o stanach zatrudnienia </h2></th>
        </tr>

        <tr id="p-D2-stan">
          <th colspan="2"><h2> Stan zatrudnienia w okresie sprawozdawczym </h2></th>
          <th colspan="2"><h2> Bieżący stan zatrudnienia w okresie sprawozdawczym </h2></th>
          <th colspan="2"><h2> Średni stan zatrudnienia za 12 miesięcy poprzedzających okres sprawozdawczy </h2></th>
        </tr>

        <tr id="p-D2-osoby">
          <th><h2> Ogółem </h2></th>
          <th><h2> Osoby niepełnosprawne </h2></th>
          <th><h2> Ogółem </h2></th>
          <th><h2> Osoby niepełnosprawne </h2></th>
          <th><h2> Ogółem </h2></th>
          <th><h2> Osoby niepełnosprawne </h2></th>
        </tr>

        <tr>
          <td name="white-col" id="pole-37"><h4> 37. <br><input type="text"> </h4></td>
          <td name="white-col" id="pole-38"><h4> 38. <br><input type="text"> </h4></td>
          <td name="white-col" id="pole-39"><h4> 39. <br><input type="text"> </h4></td>
          <td name="white-col" id="pole-40"><h4> 40. <br><input type="text"> </h4></td>
          <td name="white-col" id="pole-41"><h4> 41. <br><input type="text"> </h4></td>
          <td name="white-col" id="pole-42"><h4> 42. <br><input type="text"> </h4></td>
        </tr>
      </table>
    </div>

    <div class="box" id="l-box">
      <table class="collapse-table">
        <tr>
          <th colspan="3"><h3>
            Oświadczam, że:
            <ul>
              <li>Nie posiadam zaległości w zobowiązaniach wobec PFRON w kwocie przekraczającej ogółem 100 zł.</li>
              <li>Nie jestem przedsiębiorcą znajdującym się w trudnej sytuacji ekonomicznej według kryteriów określonych w przepisach prawa Unii Europejskiej dotyczących udzielania pomocy publicznej.</li>
              <li>Dane zawarte we wniosku oraz w załączonych do wniosku miesięcznych informacjach o wynagrodzeniach, zatrudnieniu i stopniach niepełnosprawności pracowników niepełnosprawnych (INF-D-P) są zgodne ze stanem prawnym i faktycznym.</li>
              <li>Jestem świadomy(a) odpowiedzialności karnej za zeznanie nieprawdy lub zatajenie prawdy.</li>
              <li>Wybieram <input type="checkbox"> <strong>elektroniczną</strong> / <input type="checkbox"> <strong>pisemną</strong> formę składania wniosku.</li>
            </ul>
          </h3></th>
        </tr>

        <tr>
          <td name="white-col" id="p-43"><h2> 43. Data wypełnienia wniosku <br><input type="date" id="pole-43"> </h2></td>
          <td name="white-col" id="p-44"><h2> 44. Imię, nazwisko i podpis pracodawcy lub osoby upoważnionej <br><input type="text" id="pole-44"> </h2></td>
          <td name="white-col" id="p-45"><h2> 45. Pieczęć pracodawcy <br></h2></td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>
